.container {
  display: block;
  border: 1px solid black;
  width: 400px;
  padding: 20px;
}

.label {
  display: block;
}

.input {
  display: block;
  margin-top: 10px;
  padding: 0;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}
