.picture {
  width: 100%;
  height: auto;
  margin: 0;
}
.section {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #f4f4f4;
}
.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #333333;
  margin-top: 0;
  text-align: center;
}
.container {
  display: block;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  margin: 0;
  padding: 0;
}

.inputName,
.inputEmail {
  display: block;
  padding: 16px 8px 16px 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #808080;
  margin: 0;
  border: none;
}

.btn {
  width: 155px;
  height: 57px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #ffffff;
  background: #28a745;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #2ebf4f;
}
@media screen and (min-width: 320px) {
  .section {
    width: 320px;
  }
  .title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 69px;
  }
  .img {
    width: 320px;
    height: auto;
    margin-bottom: 51px;
  }
  .container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  .inputName {
    margin-bottom: 16px;
    width: 264px;
  }
  .inputEmail {
    margin-bottom: 24px;
    width: 264px;
  }
  .btn {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    height: 354px;
    display: flex;
    margin-bottom: 40px;
  }
  .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.35;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 24px;
  }
  .picture {
    width: 368px;
  }
  .img {
    width: 368px;
    height: 354px;
    object-fit: cover;
    margin: 0;
  }
  .container {
    display: block;
    margin-left: 32px;
    margin-right: 32px;
  }
  .inputName {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    margin-bottom: 16px;
    width: 320px;
  }
  .inputEmail {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    margin-bottom: 24px;
    width: 320px;
  }
  .btn {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1360px) {
  .section {
    width: 1360px;
    height: 454px;
    display: flex;
    margin-bottom: 0;
  }
  .title {
    margin-top: 56px;
    margin-right: auto;
    margin-left: 20;
    margin-bottom: 31px;
  }
  .picture {
    width: 670px;
  }
  .img {
    width: 670px;
    height: 454px;
    object-fit: cover;
    margin: 0;
  }
  .container {
    display: block;
    margin-left: 20px;
    margin-right: 28px;
  }
  .inputName {
    margin-bottom: 25px;
    width: 626px;
  }
  .inputEmail {
    margin-bottom: 31px;
    width: 626px;
  }
  .btn {
    margin-bottom: 0;
  }
}
