.scroll {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}
.container {
  margin: 0;
}
.section {
  display: flex;
  margin: 0;
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.15s;
}
.section:hover {
  transform: scale(1.1);
}
.section:hover .icon,
.section:hover .firstLogo {
  color: #2ebf4f;
  fill: #2ebf4f;
}
.icon {
  fill: #28a745;
  margin-right: 8px;
}

.logo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.36;
  color: #ffffff;
  margin: 0;
}
.firstLogo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.36;
  color: #28a745;
  margin-right: 8px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
/* .item {
  display: block;
} */
.link {
  text-decoration: none;
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
}
.link:hover,
.link:focus {
  text-decoration: solid underline #2ebf4f 4px;
}

@media screen and (min-width: 320px) {
  .container,
  .scroll {
    width: 320px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 32px;
  }
  .container {
    margin-bottom: 62px;
  }
  .section {
    margin-bottom: 16px;
  }
  /* .item {
    display: block;
  } */
  .list {
    width: 276px;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .scroll {
    width: 768px;
    margin-bottom: 314px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
  }
  .container {
    margin-bottom: 314px;
  }
  .section {
    margin: 0;
    /* margin-right: 73px; */
  }
  .icon {
    width: 47px;
    height: 38px;
  }

  .logo,
  .firstLogo {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.37;
  }
  .link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
  }
  .list {
    width: 334px;
    margin: 0;
  }
}
@media screen and (min-width: 1360px) {
  .container,
  .scroll {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 22px;
  }
  .container {
    margin-bottom: 199px;
  }

  .list {
    width: 455px;
  }
}
