.section {
  width: 320px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background: #333333;
  padding: 20px;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.icon {
  fill: #ffffff;
}
.icon:hover,
.icon:focus {
  fill: #28a745;
}
.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .section {
    width: 280px;
  }
  .list {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    width: 728px;
  }
  .list {
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 10px;
  }
  .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
  }
}
